<% unless comment.archived? %>
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">author: <%= comment.author %></div>
        text: <%= comment.body %>
      </div>
    </li>
<% end %>