<br>
<h1 style="margin-left: 5%; margin-top: 2%;">Articles</h1>

<% @articles.each do |article| %>
	<div class="row no-gutters bg-purple position-relative container-md" style="margin-left: 5%; margin-top: 2%">
	  <div class="">
	  </div>
	  <div class=" p-4">
	    <h3 class="mt-0"> <%= article.title %> </h3>
	    <p> <%= article.body %> </p>
	    <a href="<%= article_path(article) %>" class="stretched-link"></a>
	  </div>
	</div>
<% end %>

<a class="btn btn-primary" style="margin-left: 5%; margin-top: 2%; " href="<%= new_article_path %>"> New </a>